$color-primary:#2B2B2B;
$color-bg:#e5e1e1;
$color-btn:#285E67;
$color-secondary:#FCE2D7;
$color-text-primary:#2A2A2A;

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

